
body {
    margin: 0;
    font-family: system-ui, sans-serif;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
}

/* header */
header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    @media (min-width: 780px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        padding: 15px 30px;
    }
}
.logo {
     font-size: 20px;
     margin: 0;
}

nav a {
    text-decoration: none;
    padding: 8px 15px;
    font-weight: bold;
}

nav a:hover {
    border-radius: 20px;
}

/* de hele pagina met kaart en zijbalk */
.kaart-pagina {  
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "zoek"
            "kaart"
            "gebieden";
        flex: 1;
  
    @media  (min-width: 780px) {
    grid-template-columns: 1fr 340px;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "zoek gebieden"
        "kaart gebieden";
   
}
}

/* zoekbalk die doet nog niks */
.zoekbalk {
    grid-area: zoek;
    display: flex;
    margin: 20px 20px 0 20px;
    border-radius: 30px;
    max-width: 500px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
}

.zoekbalk input {
    border: none;
    padding: 14px 20px;
    font-size: 15px;
    flex: 1;
    background: none;
    outline: none;
    border-radius: 30px;
}

.zoekbalk button {
    color: white;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 4px;
    cursor: pointer;
}


/* kaartvlak */
.kaart {
    grid-area: kaart;
    margin: 20px 0 20px 20px;
    padding: 20px;
    border-radius: 12px;
}

.kaart img {
    width: 50%;
    height: 100%;
    object-fit: contain;
    border-radius: 8px;
    background-color: white;
    display: block;
}

/* zijbalk met de zones */
.gebieden {
    grid-area: gebieden;
    background-color: white;
    overflow-y: auto;
    box-shadow: -3px 0 10px rgba(0, 0, 0, 0.05);
}

.gebieden-header {
    padding: 18px;
    position: sticky;
    top: 0;
    background-color: white;
}

.gebieden-header h2 {
    margin: 0;
    font-size: 18px;
}

.gebieden-header p {
    margin: 5px 0 0 0;
    font-size: 13px;
}

.gebieden-lijst {
    list-style: none;
    margin: 0;
    padding: 12px;
}

.gebieden-lijst details {
    margin-bottom: 8px;
    border-radius: 8px;
}

.gebieden-lijst summary {
    padding: 13px 15px;
    cursor: pointer;
    font-weight: bold;
    color: var(--groen-900);
    list-style: none;
}

.gebieden-lijst summary::-webkit-details-marker {
    display: none;
}

.gebieden-lijst summary::after {
    content: "+";
    float: right;
    font-weight: bold;
}

.gebieden-lijst details[open] summary {
    color: white;
    border-radius: 8px 8px 0 0;
}

.gebieden-lijst details[open] summary::after {
    content: "−";
    color: white;
}

.gebieden-lijst p {
    margin: 0;
    padding: 12px 15px;
    font-size: 14px;
    background-color: white;
}